button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"],
.clickable {
  cursor: pointer;
}

button:disabled,
button[disabled],
input:disabled {
  cursor: not-allowed;
}
